.eightyeightad {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position:absolute;
  top: 0;
  left: 0;
  overflow:hidden;
  box-sizing: border-box;
  display: block;
  border: 2px solid #00a0c8;
}
.eightyeightad div, 
.eightyeightad .image,
.eightyeightad .svg-whole {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0; left: 0;
}

/*  text  */
#pattern {
  opacity: 0.5;
}
#ice-cream-whole, 
#ice-cream-drawing,
#cherry-wrapper {
  opacity: 0;
}
#cone-wrapper {
  width: 50%;
  left: auto;
  right: 0;
}

/*  What starts out hidden  */ 
#cefcu-txt1, #p1, #p2, #p3 {
  opacity: 0;
}

.ortho-wrapper {
  background-color: #003a66;
}

/*  skeleton  */
#skeleton-wrapper {
	width: 66.666%;
	height: 200%;
	top: -100%;
	left: 35.333%;
}



/*  What starts out hidden  */
#ortho-txt1a,#ortho-txt1b,#ortho-txt2a,
#name-hip, #name-shoulder, #name-elbow, #name-spine, #name-hand, #name-ankle, #name-wrist, #name-knee,
#skeleton {
	opacity:0;
}


/*  GCFD  */
.gcfd-wrapper {
  background-color: #f3f2d9;
}

#green-bg {
  background-color: #124c1b;
}

/*  GCFD logo with animation  */
#gcfd-logo {
  width: 88%;
  height: 66%;
  top: -1.333%;
  left: -2%;
}
.gcfd-lime{fill:#059713;}
.gcfd-sprout{fill:#91BD45;}
.gcfd-celery{fill:#E0DEA1;}



/*  Person  */
#gcfd-img-wrapper {
  width: 203.3333%;
  height: 244%;
  left: -27%;
  top: -34.4%;
}


/*  What starts out hidden  */ 
#gcfd-txt1, #gcfd-txt2 {
  opacity: 0;
}

/*  Swedish  */ 
/*  Svg coloring  */
.ns-proof {
  fill: #8FD8F8;
}

/*  EKG  */
#svg-ekg {
  width: 100%;
  height: 60%;
  top: 32.4%;
  left: 0;
}
#ekg-dash-lead {
  stroke-dasharray: 1 900;
  stroke-dashoffset: 875;
}
#ekg-dash-full {
  stroke-dasharray: 900 900;
  stroke-dashoffset: 1775;
}
#ekg-dash-red {
  stroke-dashoffset: 1775;
  stroke-dasharray: 900 900;
}


/*  What starts out hidden  */ 
#ns-txt1a, #ns-txt1b-abn, #ns-txt1b-ormal, #ns-txt1b-hea, #ns-txt1b-rt, #ns-txt1b-rhy, #ns-txt1b-thms, #ns-txt1c, #ns-line, #ns-proof1, #ns-proof2, #ns-proof3, #frame1-wrapper {
  opacity: 0;
}