/* ==========================================================================
   Head Styles.
   ========================================================================== */

.title__home {
  overflow: hidden;
}
.eightbithead-wrapper {
  position: absolute;
  width: calc(var(--block) * 3);
  height: 100%;
  top: 0;
  left: auto;
  right: 0;
  z-index: -1;
  overflow: hidden;
  background-color: #C19888;
  opacity: 0.25;

  @media screen and (min-width: 675px) {
    width: calc(var(--block) * 10);
  }
}

.eightbithead {
  display: grid;
  width: 1400px;
  grid-template-columns: repeat(70, 1fr);
  opacity: 1;
  overflow: hidden;
  transform-origin: 0 0;
  margin-top: calc(var(--block) * -6);
  margin-left: calc(var(--block) * -10);
  box-sizing: border-box;
  background-color: transparent;
  
  div {
    background-color: transparent;
    height: calc(var(--block) / 2);
  }

  @media screen and (min-width: 675px) {
    width: 2800px;
    grid-template-columns: repeat(70, 1fr);
    margin-top: calc(var(--block) * -12);
    margin-left: calc(var(--block) * -18);

    div {
      height: var(--block);
    }
  }
}