/* ==========================================================================
   Head Styles.
   ========================================================================== */
.title__home {
  overflow: hidden;
}
.name__home--first,
.name__home--last {
  display: inline-block;

  @media screen and (max-width: 525px) {
    display: block;
  }
}
.eightbithead-wrapper {
  position: absolute;
  width: calc(var(--block) * 3);
  height: 100%;
  top: 0;
  left: auto;
  right: 0;
  z-index: -1;
  overflow: hidden;
  // background-color: #C19888;
  min-height: 100vh;

  @media screen and (min-width: 675px) {
    width: calc(var(--block) * 10);
  }
}

.eightbithead-opacity {
  opacity: 0.25;

  .dark-theme & {
    filter: saturate(0);
  }
}

.eightbithead {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(50, 1fr);
  opacity: 1;
  overflow: hidden;
  transform-origin: 0 0;
  margin-top: calc(var(--block) * -6);
  margin-left: calc(var(--block) * -10);
  box-sizing: border-box;
  background-color: transparent;
  
  div {
    background-color: transparent;
    height: calc(var(--block) / 2);
  }

  @media screen and (min-width: 675px) {
    width: 2000px;
    grid-template-columns: repeat(50, 1fr);
    margin-top: calc(var(--block) * -12);
    margin-left: calc(var(--block) * -5);

    div {
      height: var(--block);
    }
  }
}