/* ==========================================================================
   Head Styles.
   ========================================================================== */

.title__home {
  overflow: hidden;
  animation: titleanimate__mobile 6s;
  @media screen and (min-width: 675px) {
    animation: titleanimate__desktop 6s;
  }
}
@keyframes titleanimate__mobile {
  0% {
    margin-top: calc(var(--block) * 2);
  } 
  20% {
    margin-top: calc(var(--block) * 2);
  }
  30% {
    margin-top: calc(var(--block) * 3);
  }
  50% {
    margin-top: calc(var(--block) * 3);
  }
  51% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes titleanimate__desktop {
  0% {
    margin-left: calc(var(--block) * 3);
    width: calc(100vw - (var(--block) * 5));
    margin-top: var(--block);
  }
  20% {
    margin-top: var(--block);
  }
  30% {
    margin-top: 0;
  }
  50% {
    margin-left: calc(var(--block) * 3);
    width: calc(100vw - (var(--block) * 5))
  }
  51% {
    margin-left: 0;
    width: auto;
  }
  100% {
    margin-left: 0;
  }
}
.hello__home {
  animation: helloanimate__mobile 6s;
  @media screen and (min-width: 675px) {
    animation: helloanimate__desktop 6s;
  }
}
@keyframes helloanimate__mobile {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes helloanimate__desktop {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.name__home {
  display: inline-block;
  animation: nameanimate__mobile 6s;
  
  @media screen and (min-width: 675px) {
    animation: nameanimate__desktop 6s;
  }
}
@keyframes nameanimate__mobile {
  0% {
    opacity: 0;
    margin-top: var(-block);
  }
  32% {
    opacity: 0;
    margin-top: var(-block);
  }
  40% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes nameanimate__desktop {
  0% {
    opacity: 0;
    margin-top: var(-block);
  }
  22% {
    opacity: 0;
    margin-top: var(-block);
  }
  30% {
    opacity: 1;
    margin-top: 0;
  }
  40% {
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
.eightbithead-wrapper {
  position: absolute;
  width: calc(var(--block) * 3);
  height: 100%;
  top: 0;
  left: auto;
  right: 0;
  z-index: -1;
  overflow: hidden;
  background-color: #C19888;
  opacity: 0.25;

  @media screen and (min-width: 675px) {
    width: calc(var(--block) * 10);
  }
}
.eightbithead-wrapper__home {
  animation: headcropmove__mobile 6s;

  @media screen and (min-width: 675px) {
    animation: headcropmove__desktop 6s;
  }
}
@keyframes headcropmove__mobile {
  0% {
    width: 100%;
    background-color: transparent;
    opacity: 1;
    z-index: 10;
  }
  50% {
    width: 100%;
    background-color: transparent;
    opacity: 1;
  }
  55% {
    z-index: 10;
  }
  60% {
    width: calc(var(--block) * 3);
    background-color: #C19888;
    opacity: 0.25;
    z-index: -1;
  }
  100% {
    width: calc(var(--block) * 3);
    right: 0;
    background-color: #C19888;
    opacity: 0.25;
    z-index: -1;
  }
}
@keyframes headcropmove__desktop {
  0% {
    width: 100%;
    background-color: transparent;
    opacity: 1;
    z-index: 10;
  }
  50% {
    width: 100%;
    background-color: transparent;
    opacity: 1;
  }
  55% {
    z-index: 10;
  }
  60% {
    width: calc(var(--block) * 10);
    background-color: #C19888;
    opacity: 0.25;
    z-index: -1;
  }
  100% {
    width: calc(var(--block) * 10);
    right: 0;
    background-color: #C19888;
    opacity: 0.25;
    z-index: -1;
  }
}

.eightbithead {
  display: grid;
  width: 1400px;
  grid-template-columns: repeat(70, 1fr);
  opacity: 1;
  overflow: hidden;
  transform-origin: 0 0;
  margin-top: calc(var(--block) * -6);
  margin-left: calc(var(--block) * -10);
  box-sizing: border-box;
  background-color: transparent;
  
  div {
    background-color: transparent;
    height: calc(var(--block) / 2);
  }

  @media screen and (min-width: 675px) {
    width: 2800px;
    grid-template-columns: repeat(70, 1fr);
    margin-top: calc(var(--block) * -12);
    margin-left: calc(var(--block) * -18);

    div {
      height: var(--block);
    }
  }
}
.eightbithead__home {
  animation: headsize__mobile 6s;

  @media screen and (min-width: 675px) {
    animation: headsize__desktop 6s;
  }
}
@keyframes headsize__mobile {
  0% {
    opacity: 0;
    transform: scale(0);
    margin-top: calc(var(--block) / 3);
    margin-left: calc(var(--block) / 3);
    border-radius: 50%;
    border: 2px solid var(--black);
    background-color: var(--offwhite);
  }
  20% {
    opacity: 1;
    transform: scale(0.1);
  }
  40% {
    transform: scale(0.1);
    margin-top: calc(var(--block) / 3);
    margin-left: calc(var(--block) / 3);
    border: 30px solid var(--black);
    background-color: var(--offwhite);
  }
  50% {
    transform: scale(1);
    border-radius: 50%;
    margin-top: calc(var(--block) * -6);
    margin-left: calc(var(--block) * -10);
    border: 0px solid var(--black);
    background-color: transparent;
  }
  60% {
    border-radius: 0;
    margin-left: calc(var(--block) * -10);
  }
  100% {
    transform: scale(1);
    margin-top: calc(var(--block) * -6);
    margin-left: calc(var(--block) * -10);
  }
}
@keyframes headsize__desktop {
  0% {
    opacity: 0;
    transform: scale(0);
    margin-top: calc(var(--block) * 1);
    margin-left: calc(var(--block) * 1);
    border-radius: 50%;
    border: 2px solid var(--black);
    background-color: var(--offwhite);
  }
  20% {
    opacity: 1;
    transform: scale(0.04);
  }
  40% {
    transform: scale(0.04);
    margin-top: calc(var(--block) * 1);
    margin-left: calc(var(--block) * 1);
    border: 60px solid var(--black);
    background-color: var(--offwhite);
  }
  50% {
    transform: scale(1);
    border-radius: 50%;
    margin-top: calc(var(--block) * -12);
    margin-left: calc(var(--block) * -18);
    border: 0px solid var(--black);
    background-color: transparent;
  }
  60% {
    border-radius: 0;
    margin-left: calc(var(--block) * -18);
  }
  100% {
    transform: scale(1);
    margin-top: calc(var(--block) * -12);
    margin-left: calc(var(--block) * -18);
  }
}
/* .eightbithead div:hover {
  opacity: 0.5;
} */
.intro__home,
.site-main__home {
  animation: secondaryelementsfadein__mobile 6s;
  @media screen and (min-width: 675px) {
    animation: secondaryelementsfadein__desktop 6s;
  }
}
@keyframes secondaryelementsfadein__mobile {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes secondaryelementsfadein__desktop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.skill-set,
.work-item,
.video-wrapper {
  animation: tertiaryelementsfadein__mobile 6s;
  @media screen and (min-width: 675px) {
    animation: tertiaryelementsfadein__desktop 6s;
  }
}
@keyframes tertiaryelementsfadein__mobile {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tertiaryelementsfadein__desktop {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.site-sidebar__home {
  animation: sidebarfadein__mobile 6s;
  @media screen and (min-width: 675px) {
    animation: sidebarfadein__desktop 6s;
  }
}
@keyframes sidebarfadein__mobile {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sidebarfadein__desktop {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}