/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter-ThinItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-ThinItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2?v=3.19") format("woff2"), url("../fonts/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-LightItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-LightItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Italic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Italic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-MediumItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-MediumItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("../fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-BoldItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-BoldItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2?v=3.19") format("woff2"), url("../fonts/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2?v=3.19") format("woff2"), url("../fonts/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-BlackItalic.woff2?v=3.19") format("woff2"), url("../fonts/Inter-BlackItalic.woff?v=3.19") format("woff");
}
/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../fonts/Inter-roman-var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("../fonts/Inter-italic-var.woff2?v=3.19") format("woff2");
}
/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: "Inter var experimental";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../fonts/Inter.var.woff2?v=3.19") format("woff2");
}
/* ==========================================================================
   Head Styles.
   ========================================================================== */
.title__home {
  overflow: hidden;
}

.name__home--first,
.name__home--last {
  display: inline-block;
}
@media screen and (max-width: 525px) {
  .name__home--first,
.name__home--last {
    display: block;
  }
}

.eightbithead-wrapper {
  position: absolute;
  width: calc(var(--block) * 3);
  height: 100%;
  top: 0;
  left: auto;
  right: 0;
  z-index: -1;
  overflow: hidden;
  min-height: 100vh;
}
@media screen and (min-width: 675px) {
  .eightbithead-wrapper {
    width: calc(var(--block) * 10);
  }
}

.eightbithead-opacity {
  opacity: 0.25;
}
.dark-theme .eightbithead-opacity {
  filter: saturate(0);
}

.eightbithead {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(50, 1fr);
  opacity: 1;
  overflow: hidden;
  transform-origin: 0 0;
  margin-top: calc(var(--block) * -6);
  margin-left: calc(var(--block) * -10);
  box-sizing: border-box;
  background-color: transparent;
}
.eightbithead div {
  background-color: transparent;
  height: calc(var(--block) / 2);
}
@media screen and (min-width: 675px) {
  .eightbithead {
    width: 2000px;
    grid-template-columns: repeat(50, 1fr);
    margin-top: calc(var(--block) * -12);
    margin-left: calc(var(--block) * -5);
  }
  .eightbithead div {
    height: var(--block);
  }
}

/* ==========================================================================
   Custom Variables
   ========================================================================== */
:root {
  --block: 40px;
  --red: #d24040;
  --blue: #00a0c8;
  --green: #10c840;
  --yellow: #fac800;
  --brown: #a0694b;
  --brown2: #736464;
  --purple: #777bb3;
  --black: #101820;
  --offwhite: #f0f0dc;
  --background-color: var(--yellow);
  --text-color: var(--black);
  --link-color: var(--blue);
  --section-divider: var(--black);
  --icon-fill: var(--black);
  --font-stack-variable: "Inter var", sans-serif;
  --font-stack-nonvariable: "Inter", sans-serif;
  --weight-normal: 400;
  --weight-bold: 700;
}

body {
  --background-color: var(--yellow);
  --text-color: var(--black);
  --link-color: var(--blue);
  --section-divider: var(--black);
  --icon-fill: var(--black);
  --blackOnlyOnLight: var(--black);
  --whiteOnlyOnLight: var(--offwhite);
  --yellowOnlyOnDark: var(--black);
}

body.dark-theme {
  --background-color: var(--black);
  --text-color: var(--yellow);
  --link-color: var(--offwhite);
  --section-divider: var(--yellow);
  --icon-fill: var(--yellow);
  --blackOnlyOnLight: var(--offwhite);
  --whiteOnlyOnLight: var(--black);
  --yellowOnlyOnDark: var(--yellow);
}

/* ==========================================================================
   General Styles
   ========================================================================== */
html {
  font-size: 100%;
  /*16px*/
  font-family: var(--font-stack-nonvariable);
}
@media screen and (max-width: 675px) {
  html {
    font-size: 87.5%;
  }
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--font-stack-variable);
  }
}
body {
  background-color: var(--background-color);
  transition: background-color 500ms;
}

body,
p {
  color: var(--text-color);
  transition: color 500ms;
  line-height: 1.55;
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--green);
}

body {
  position: relative;
  /* background-color: var(--yellow); */
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-temp {
  height: 0;
  overflow: hidden;
}

.section.site-header {
  border-top: none;
}
@media screen and (max-width: 674px) {
  .section.site-header {
    padding-top: calc(var(--block) * 3);
  }
}

.intro {
  margin-bottom: calc(var(--block) * 4);
}

@media screen and (min-width: 675px) {
  .intro,
.section-intro {
    width: calc(var(--block) * 7);
  }
}
@media screen and (min-width: 900px) {
  .intro,
.section-intro {
    width: calc(var(--block) * 10);
  }
}

@media screen and (min-width: 675px) {
  .section,
.gridder {
    display: grid;
    grid-template-columns: calc(var(--block) * 7) 1fr;
  }
}
@media screen and (min-width: 900px) {
  .section,
.gridder {
    grid-template-columns: calc(var(--block) * 10) 1fr;
  }
}
@media screen and (min-width: 1300px) {
  .section,
.gridder {
    grid-template-columns: calc(var(--block) * 12) 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .work-imgs,
.skill-sets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--block) / 2);
  }
}
@media screen and (max-width: 1299px) {
  .section-video,
.video-wrapper,
.section-skills-header-wrapper,
.skill-sets,
.video-hdr {
    grid-column: span 2;
  }
}

.section-work__header,
.section-work__content-wrapper {
  grid-column: span 2;
}

.site-header,
.site-main {
  padding-left: calc(var(--block) / 2);
  padding-right: calc(var(--block) * 1.5);
}
@media screen and (min-width: 675px) {
  .site-header,
.site-main {
    padding-left: var(--block);
    padding-right: calc(var(--block) * 2);
  }
}
@media screen and (min-width: 1300px) {
  .site-header,
.site-main {
    padding-right: calc(var(--block) * 4);
  }
}

.site-header {
  padding-top: var(--block);
}

.section-hr {
  border: none;
  height: 2px;
  width: 100%;
  background-color: var(--section-divider);
  margin: 0;
  grid-column: span 2;
  margin-top: var(--block);
  margin-bottom: var(--block);
}

.section-content,
.section-intro {
  overflow: hidden;
}

/* ==========================================================================
   Typography
   ========================================================================== */
p {
  margin-bottom: 1rem;
  letter-spacing: -0.004em;
}

strong {
  font-weight: var(--weight-bold);
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: var(--weight-bold);
  line-height: 1.05;
  letter-spacing: -0.055em;
  margin-left: -0.03em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 0.8;
  font-size: 5.653rem;
}
@media screen and (max-width: 675px) {
  h1 {
    font-size: 4.209rem;
  }
}

.name__home--first,
.name__home--last {
  line-height: 0.9;
}

h2 {
  font-size: 3.998rem;
}
@media screen and (max-width: 675px) {
  h2 {
    font-size: 3.157rem;
  }
}

h3 {
  font-size: 2.827rem;
}
@media screen and (max-width: 675px) {
  h3 {
    font-size: 1.777rem;
  }
}

h4 {
  font-size: 1.999rem;
}
@media screen and (max-width: 675px) {
  h4 {
    font-size: 1.333rem;
  }
}
@media screen and (max-width: 899px) {
  h4.skill-set-hdr {
    font-size: 1.677rem;
  }
}

h5 {
  font-size: 1.414rem;
}

small, .text_small {
  font-size: 0.707rem;
}
@media screen and (max-width: 675px) {
  small, .text_small {
    font-size: 0.75rem;
  }
}

.hello {
  font-size: 0.2em;
  letter-spacing: -0.055em;
  display: block;
  margin-left: 0.25rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.section-hdr {
  margin-bottom: 1rem;
}

/* ==========================================================================
   Header
   ========================================================================== */
/* ==========================================================================
   Skill Section
   ========================================================================== */
@media screen and (max-width: 1300px) {
  .saying {
    display: block;
  }
}

@media screen and (min-width: 675px) and (max-width: 900px) {
  .skill-set-secondary li {
    margin-bottom: 1.25rem;
  }
}

.skill-list li {
  display: flex;
  align-items: center;
  height: var(--block);
}

.skill-icons {
  display: flex;
  align-items: center;
}

.skill-svg {
  width: calc(var(--block) - 10px);
  height: calc(var(--block) - 10px);
  padding: 5px;
}

.skill {
  margin-left: 10px;
  line-height: 1rem;
}

.skill-example {
  font-size: 0.707rem;
  display: block;
}

.set {
  margin-bottom: var(--block);
}
.set + .set {
  margin-bottom: 0;
}

.skill-set-hdr {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
@media screen and (min-width: 675px) {
  .skill-set-hdr {
    line-height: var(--block);
  }
}

/* SVG colors */
.skill-colored {
  opacity: 0;
}

.fill-default,
.fill-circle {
  fill: inherit;
}

.stroke-default {
  fill: none;
  stroke-width: 10;
  stroke: inherit;
}

.skill-base,
.additional-base {
  fill: var(--icon-fill);
}

.fill-black {
  fill: var(--black);
}

.fill-blackOnLight {
  fill: var(--blackOnlyOnLight);
}

.fill-white {
  fill: var(--offwhite);
}

.fill-whiteOnLight {
  fill: var(--whiteOnlyOnLight);
}

.fill-yellow {
  fill: var(--yellow);
}

.fill-yellowOnDark {
  fill: var(--yellowOnlyOnDark);
}

.fill-red {
  fill: var(--red);
}

.fill-purple {
  fill: var(--purple);
}

.fill-brown {
  fill: var(--brown);
}

.fill-green {
  fill: var(--green);
}

.fill-blue {
  fill: var(--blue);
}

.stroke-yellowOnDark {
  stroke: var(--yellowOnlyOnDark);
}

/* ==========================================================================
   Work Section
   ========================================================================== */
.work-item-hdr {
  margin-bottom: calc(var(--block) / 2);
}

.header-links,
.header-links:visited {
  text-decoration: none;
  color: var(--black);
}

.header-links:hover {
  text-decoration: underline;
  color: var(--blue);
}

article {
  padding-bottom: 5rem;
}

.work-video {
  width: 100%;
  height: auto;
  margin-bottom: var(--block);
  border: 2px solid var(--brown2);
  box-sizing: border-box;
}
.work-img--link:hover .work-video {
  border: 2px solid var(--green);
}

@media screen and (min-width: 675px) {
  .section-work__copy {
    padding-right: var(--block);
  }
}

.work-displayads {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--block) / 2);
}

.work-displayad--wrapper {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 83.3333333333%;
}
.work-displayad--wrapper iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
   Video Section
   ========================================================================== */
.video-wrapper {
  width: 100%;
  margin: 0 auto;
}

.img-fluid, video {
  width: 100%;
  height: auto;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.contact-info {
  display: flex;
  align-items: flex-end;
}

.contact-icons {
  display: flex;
  align-items: center;
  margin-right: calc(var(--block) / 2);
}

.additional-link {
  display: flex;
  align-items: center;
  height: var(--block);
  margin-bottom: calc(var(--block) * 1.5);
}

.additional-link__svg {
  width: var(--block);
  height: var(--block);
  margin-right: calc(var(--block) / 4);
}

.hovered-addon {
  opacity: 0;
  transition: opacity 250ms;
}

@media screen and (min-width: 675px) {
  .additional-links {
    position: relative;
  }
  .additional-links li {
    display: inline-block;
  }

  .additional-link {
    display: inline-block;
  }
  .additional-link:hover .additional-link__text--wrapper {
    z-index: 100;
  }
  .additional-link:hover .hovered-addon {
    opacity: 1;
  }

  .additional-link__text--wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: var(--block);
    height: var(--block);
    overflow: hidden;
    width: 100%;
  }

  .additional-link__text {
    display: block;
    margin-top: calc(var(--block) * -2);
    transition: margin-top 500ms;
  }
  .additional-link:hover .additional-link__text {
    margin-top: 0;
  }
}
.footer {
  background-color: var(--black);
  padding: 3rem 0;
  margin-top: 3rem;
  text-align: center;
}
.footer p {
  color: var(--offwhite);
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
.site-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(var(--block) * 1.5);
  height: 100%;
  overflow: visible;
}
@media screen and (min-width: 675px) {
  .site-sidebar {
    width: calc(var(--block) * 2);
  }
}

.site-sidebar-inner {
  position: sticky;
  top: var(--block);
  left: 0;
  margin-left: calc(var(--block) * 0.35);
  width: calc(var(--block) * 0.75);
  overflow: visible;
}
@media screen and (min-width: 675px) {
  .site-sidebar-inner {
    margin-left: calc(var(--block) * 0.5);
    width: var(--block);
  }
}

.bt-logo-wrapper,
.lightdark-mode {
  width: calc(var(--block) * 0.75);
  height: 0;
  position: relative;
  padding-top: 75%;
  margin-bottom: calc(var(--block) * 0.5);
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 675px) {
  .bt-logo-wrapper,
.lightdark-mode {
    width: var(--block);
  }
}
.bt-logo-wrapper svg,
.lightdark-mode svg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#ray-line {
  stroke-dasharray: 10;
  stroke-dashoffset: 0;
  stroke: inherit;
}

.lightdark-mode use {
  stroke: var(--yellowOnlyOnDark);
}
.lightdark-mode:hover path, .lightdark-mode:hover use {
  stroke: var(--offwhite);
}

/* ==========================================================================
   Head Styles.
   ========================================================================== */
/* ==========================================================================
   Head Styles.
   ========================================================================== */
.title__home {
  overflow: hidden;
}

.name__home--first,
.name__home--last {
  display: inline-block;
}
@media screen and (max-width: 525px) {
  .name__home--first,
.name__home--last {
    display: block;
  }
}

.eightbithead-wrapper {
  position: absolute;
  width: calc(var(--block) * 3);
  height: 100%;
  top: 0;
  left: auto;
  right: 0;
  z-index: -1;
  overflow: hidden;
  min-height: 100vh;
}
@media screen and (min-width: 675px) {
  .eightbithead-wrapper {
    width: calc(var(--block) * 10);
  }
}

.eightbithead-opacity {
  opacity: 0.25;
}
.dark-theme .eightbithead-opacity {
  filter: saturate(0);
}

.eightbithead {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(50, 1fr);
  opacity: 1;
  overflow: hidden;
  transform-origin: 0 0;
  margin-top: calc(var(--block) * -6);
  margin-left: calc(var(--block) * -10);
  box-sizing: border-box;
  background-color: transparent;
}
.eightbithead div {
  background-color: transparent;
  height: calc(var(--block) / 2);
}
@media screen and (min-width: 675px) {
  .eightbithead {
    width: 2000px;
    grid-template-columns: repeat(50, 1fr);
    margin-top: calc(var(--block) * -12);
    margin-left: calc(var(--block) * -5);
  }
  .eightbithead div {
    height: var(--block);
  }
}

/* ==========================================================================
  Colophon.
   ========================================================================== */
.colophon__title {
  margin-bottom: 1rem;
}

.colophon__site-main {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.credit-set {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=main.css.map */
