/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Custom Variables
   ========================================================================== */
:root {
  --block: 40px;
  --red: #d24040;
  --blue: #00a0c8;
  --green: #10c840;
  --yellow: #fac800;
  --brown: #a0694b;
  --brown2: #736464;
  --purple: #777bb3;
  --black: #101820;
  --offwhite: #f0f0dc;
  --background-color: var(--yellow);
  --text-color: var(--black);
  --link-color: var(--blue);
  --section-divider: var(--black);
  --font-stack-heading: neue-haas-grotesk-display, sans-serif;
  --font-stack-text: neue-haas-grotesk-text, sans-serif;
  --weight-normal: 400;
  --weight-bold: 700;
}

html[data-theme=light] {
  --background-color: var(--yellow);
  --text-color: var(--black);
  --link-color: var(--blue);
  --section-divider: var(--black);
}

html[data-theme=dark] {
  --background-color: var(--black);
  --text-color: var(--yellow);
  --link-color: var(--brown);
  --section-divider: var(--yellow);
}

/* ==========================================================================
   General Styles
   ========================================================================== */
html {
  font-size: 100%;
  /*16px*/
}
@media screen and (max-width: 675px) {
  html {
    font-size: 87.5%;
    /*16px*/
  }
}

body {
  background-color: var(--background-color);
}

body,
p {
  font-family: var(--font-stack-text);
  font-weight: var(--weight-normal);
  font-style: normal;
  color: var(--text-color);
  line-height: 1.55;
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--green);
}

body {
  position: relative;
  /* background-color: var(--yellow); */
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.section {
  padding-bottom: var(--block);
}

.section {
  border-top: 2px solid var(--section-divider);
  padding-top: var(--block);
}
.section.site-header {
  padding-top: calc(var(--block) * 1.25);
  border-top: none;
}
@media screen and (max-width: 674px) {
  .section.site-header {
    padding-top: calc(var(--block) * 3);
  }
}

@media screen and (min-width: 675px) {
  .intro,
.section-intro {
    width: calc(var(--block) * 7);
  }
}
@media screen and (min-width: 900px) {
  .intro,
.section-intro {
    width: calc(var(--block) * 10);
  }
}

@media screen and (min-width: 675px) {
  .gridder {
    display: grid;
    grid-template-columns: calc(var(--block) * 7) 1fr;
    gap: var(--block);
  }
}
@media screen and (min-width: 900px) {
  .gridder {
    grid-template-columns: calc(var(--block) * 10) 1fr;
    gap: var(--block) calc(var(--block) / 2);
  }
}
@media screen and (min-width: 1300px) {
  .gridder {
    grid-template-columns: calc(var(--block) * 12) 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .work-imgs,
.skill-sets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--block) / 2);
  }
}
@media screen and (max-width: 1299px) {
  .section-video,
.video-wrapper,
.section-skills-header-wrapper,
.skill-sets {
    grid-column: span 2;
  }
}

.site-header,
.site-main {
  padding-left: calc(var(--block) / 2);
  padding-right: calc(var(--block) / 2);
}
@media screen and (min-width: 675px) {
  .site-header,
.site-main {
    padding-left: var(--block);
    padding-right: calc(var(--block) * 2);
  }
}
@media screen and (min-width: 1300px) {
  .site-header,
.site-main {
    padding-right: calc(var(--block) * 4);
  }
}

/* ==========================================================================
   Typography
   ========================================================================== */
p {
  margin-bottom: 1rem;
}

strong {
  font-family: var(--font-stack-heading);
  font-weight: var(--weight-bold);
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: var(--font-stack-heading);
  font-weight: var(--weight-bold);
  line-height: 1.05;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 0.8;
  font-size: 5.653rem;
}
@media screen and (max-width: 675px) {
  h1 {
    font-size: 4.209rem;
  }
}

h2 {
  font-size: 3.998rem;
}
@media screen and (max-width: 675px) {
  h2 {
    font-size: 3.157rem;
  }
}

h3 {
  font-size: 2.827rem;
}
@media screen and (max-width: 675px) {
  h3 {
    font-size: 1.777rem;
  }
}

h4 {
  font-size: 1.999rem;
}
@media screen and (max-width: 675px) {
  h4 {
    font-size: 1.333rem;
  }
}
@media screen and (max-width: 899px) {
  h4.skill-set-hdr {
    font-size: 1.677rem;
  }
}

h5 {
  font-size: 1.414rem;
}

small, .text_small {
  font-size: 0.707rem;
}
@media screen and (max-width: 675px) {
  small, .text_small {
    font-size: 0.75rem;
  }
}

.hello {
  font-size: 1rem;
  display: block;
  margin-left: 0.25rem;
  margin-bottom: 0.5rem;
}

.section-hdr {
  margin-bottom: 1rem;
}

/* ==========================================================================
   Header
   ========================================================================== */
.site-header {
  padding-bottom: calc(var(--block) * 4);
}

/* ==========================================================================
   Skill Section
   ========================================================================== */
@media screen and (max-width: 1300px) {
  .saying {
    display: block;
  }
}

@media screen and (min-width: 675px) and (max-width: 900px) {
  .skill-set-secondary li {
    margin-bottom: 1.25rem;
  }
}

.skill-list li {
  display: flex;
  align-items: center;
  height: var(--block);
}

.skill-icons {
  display: flex;
  align-items: center;
}

.skill-svg {
  width: calc(var(--block) - 10px);
  height: calc(var(--block) - 10px);
  padding: 5px;
}

.skill {
  margin-left: 10px;
  line-height: 1rem;
}

.skill-example {
  font-size: 0.707rem;
  display: block;
}

.set {
  margin-bottom: var(--block);
}
.set + .set {
  margin-bottom: 0;
}

.skill-set-hdr {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
@media screen and (min-width: 675px) {
  .skill-set-hdr {
    line-height: var(--block);
  }
}

/* SVG colors */
.svg-skill-extra {
  opacity: 0;
}

.fill-default,
.fill-circle {
  fill: inherit;
}

.fill-black {
  fill: var(--text-color);
}

.fill-white {
  fill: var(--offwhite);
}

.fill-yellow {
  fill: var(--yellow);
}

.fill-red {
  fill: var(--red);
}

.fill-purple {
  fill: var(--purple);
}

/* ==========================================================================
   Work Section
   ========================================================================== */
.work-hdr {
  margin-bottom: calc(var(--block) / 2);
}

.header-links,
.header-links:visited {
  text-decoration: none;
  color: var(--black);
}

.header-links:hover {
  text-decoration: underline;
  color: var(--blue);
}

article {
  margin-bottom: 5rem;
}

.work-video {
  width: 100%;
  height: auto;
  margin-bottom: var(--block);
  border: 2px solid var(--brown2);
}
.work-img--link:hover .work-video {
  border: 1px solid var(--green);
}

.work-displayads {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--block) / 2);
}

.work-displayad--wrapper {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 83.3333333333%;
}
.work-displayad--wrapper iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
   Video Section
   ========================================================================== */
.video-wrapper {
  width: 100%;
  margin: 0 auto;
}

.img-fluid, video {
  width: 100%;
  height: auto;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.contact-info {
  display: flex;
  align-items: flex-end;
}

.contact-icons {
  display: flex;
  align-items: center;
  margin-right: calc(var(--block) / 2);
}

.additional-link {
  display: flex;
  align-items: center;
  height: var(--block);
  margin-bottom: calc(var(--block) / 4);
}

.additional-link__svg {
  width: var(--block);
  height: var(--block);
  margin-right: calc(var(--block) / 4);
}

.hovered-addon {
  opacity: 0;
  transition: opacity 250ms;
}

@media screen and (min-width: 675px) {
  .additional-links {
    position: relative;
  }
  .additional-links li {
    display: inline-block;
  }

  .additional-link {
    display: inline-block;
  }
  .additional-link:hover .additional-link__text--wrapper {
    z-index: 100;
  }
  .additional-link:hover .hovered-addon {
    opacity: 1;
  }

  .additional-link__text--wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: var(--block);
    height: var(--block);
    overflow: hidden;
    width: 100%;
  }

  .additional-link__text {
    display: block;
    margin-top: calc(var(--block) * -2);
    transition: margin-top 500ms;
  }
  .additional-link:hover .additional-link__text {
    margin-top: 0;
  }
}
.footer {
  background-color: var(--black);
  padding: 3rem 0;
  text-align: center;
}
.footer p {
  color: var(--offwhite);
}

/* ==========================================================================
   Sidebar
   ========================================================================== */
.site-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  overflow: visible;
}

.site-sidebar-inner {
  position: absolute;
  top: var(--block);
  right: calc(var(--block) * 0.5);
  width: calc(var(--block) * 1);
  overflow: visible;
}

.bt-logo-wrapper,
.lightdark-mode {
  width: calc(var(--block) * 1);
  height: 0;
  position: relative;
  padding-top: 75%;
  margin-bottom: calc(var(--block) * 0.5);
  background-color: transparent;
  border: none;
}
.bt-logo-wrapper svg,
.lightdark-mode svg {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* ==========================================================================
   Head Styles.
   ========================================================================== */
/* ==========================================================================
   Head Styles.
   ========================================================================== */
.title__home {
  overflow: hidden;
  animation: titleanimate__mobile 6s;
}
@media screen and (min-width: 675px) {
  .title__home {
    animation: titleanimate__desktop 6s;
  }
}

@keyframes titleanimate__mobile {
  0% {
    margin-top: calc(var(--block) * 2);
  }
  20% {
    margin-top: calc(var(--block) * 2);
  }
  30% {
    margin-top: calc(var(--block) * 3);
  }
  50% {
    margin-top: calc(var(--block) * 3);
  }
  51% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes titleanimate__desktop {
  0% {
    margin-left: calc(var(--block) * 3);
    width: calc(100vw - var(--block) * 5);
    margin-top: var(--block);
  }
  20% {
    margin-top: var(--block);
  }
  30% {
    margin-top: 0;
  }
  50% {
    margin-left: calc(var(--block) * 3);
    width: calc(100vw - var(--block) * 5);
  }
  51% {
    margin-left: 0;
    width: auto;
  }
  100% {
    margin-left: 0;
  }
}
.hello__home {
  animation: helloanimate__mobile 6s;
}
@media screen and (min-width: 675px) {
  .hello__home {
    animation: helloanimate__desktop 6s;
  }
}

@keyframes helloanimate__mobile {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes helloanimate__desktop {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.name__home {
  display: inline-block;
  animation: nameanimate__mobile 6s;
}
@media screen and (min-width: 675px) {
  .name__home {
    animation: nameanimate__desktop 6s;
  }
}

@keyframes nameanimate__mobile {
  0% {
    opacity: 0;
    margin-top: var(-block);
  }
  32% {
    opacity: 0;
    margin-top: var(-block);
  }
  40% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes nameanimate__desktop {
  0% {
    opacity: 0;
    margin-top: var(-block);
  }
  22% {
    opacity: 0;
    margin-top: var(-block);
  }
  30% {
    opacity: 1;
    margin-top: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
.eightbithead-wrapper {
  position: absolute;
  width: calc(var(--block) * 3);
  height: 100%;
  top: 0;
  left: auto;
  right: 0;
  z-index: -1;
  overflow: hidden;
  background-color: #C19888;
  opacity: 0.25;
}
@media screen and (min-width: 675px) {
  .eightbithead-wrapper {
    width: calc(var(--block) * 10);
  }
}

.eightbithead-wrapper__home {
  animation: headcropmove__mobile 6s;
}
@media screen and (min-width: 675px) {
  .eightbithead-wrapper__home {
    animation: headcropmove__desktop 6s;
  }
}

@keyframes headcropmove__mobile {
  0% {
    width: 100%;
    background-color: transparent;
    opacity: 1;
    z-index: 10;
  }
  50% {
    width: 100%;
    background-color: transparent;
    opacity: 1;
  }
  55% {
    z-index: 10;
  }
  60% {
    width: calc(var(--block) * 3);
    background-color: #C19888;
    opacity: 0.25;
    z-index: -1;
  }
  100% {
    width: calc(var(--block) * 3);
    right: 0;
    background-color: #C19888;
    opacity: 0.25;
    z-index: -1;
  }
}
@keyframes headcropmove__desktop {
  0% {
    width: 100%;
    background-color: transparent;
    opacity: 1;
    z-index: 10;
  }
  50% {
    width: 100%;
    background-color: transparent;
    opacity: 1;
  }
  55% {
    z-index: 10;
  }
  60% {
    width: calc(var(--block) * 10);
    background-color: #C19888;
    opacity: 0.25;
    z-index: -1;
  }
  100% {
    width: calc(var(--block) * 10);
    right: 0;
    background-color: #C19888;
    opacity: 0.25;
    z-index: -1;
  }
}
.eightbithead {
  display: grid;
  width: 1400px;
  grid-template-columns: repeat(70, 1fr);
  opacity: 1;
  overflow: hidden;
  transform-origin: 0 0;
  margin-top: calc(var(--block) * -6);
  margin-left: calc(var(--block) * -10);
  box-sizing: border-box;
  background-color: transparent;
}
.eightbithead div {
  background-color: transparent;
  height: calc(var(--block) / 2);
}
@media screen and (min-width: 675px) {
  .eightbithead {
    width: 2800px;
    grid-template-columns: repeat(70, 1fr);
    margin-top: calc(var(--block) * -12);
    margin-left: calc(var(--block) * -18);
  }
  .eightbithead div {
    height: var(--block);
  }
}

.eightbithead__home {
  animation: headsize__mobile 6s;
}
@media screen and (min-width: 675px) {
  .eightbithead__home {
    animation: headsize__desktop 6s;
  }
}

@keyframes headsize__mobile {
  0% {
    opacity: 0;
    transform: scale(0);
    margin-top: calc(var(--block) / 3);
    margin-left: calc(var(--block) / 3);
    border-radius: 50%;
    border: 2px solid var(--black);
    background-color: var(--offwhite);
  }
  20% {
    opacity: 1;
    transform: scale(0.1);
  }
  40% {
    transform: scale(0.1);
    margin-top: calc(var(--block) / 3);
    margin-left: calc(var(--block) / 3);
    border: 30px solid var(--black);
    background-color: var(--offwhite);
  }
  50% {
    transform: scale(1);
    border-radius: 50%;
    margin-top: calc(var(--block) * -6);
    margin-left: calc(var(--block) * -10);
    border: 0px solid var(--black);
    background-color: transparent;
  }
  60% {
    border-radius: 0;
    margin-left: calc(var(--block) * -10);
  }
  100% {
    transform: scale(1);
    margin-top: calc(var(--block) * -6);
    margin-left: calc(var(--block) * -10);
  }
}
@keyframes headsize__desktop {
  0% {
    opacity: 0;
    transform: scale(0);
    margin-top: calc(var(--block) * 1);
    margin-left: calc(var(--block) * 1);
    border-radius: 50%;
    border: 2px solid var(--black);
    background-color: var(--offwhite);
  }
  20% {
    opacity: 1;
    transform: scale(0.04);
  }
  40% {
    transform: scale(0.04);
    margin-top: calc(var(--block) * 1);
    margin-left: calc(var(--block) * 1);
    border: 60px solid var(--black);
    background-color: var(--offwhite);
  }
  50% {
    transform: scale(1);
    border-radius: 50%;
    margin-top: calc(var(--block) * -12);
    margin-left: calc(var(--block) * -18);
    border: 0px solid var(--black);
    background-color: transparent;
  }
  60% {
    border-radius: 0;
    margin-left: calc(var(--block) * -18);
  }
  100% {
    transform: scale(1);
    margin-top: calc(var(--block) * -12);
    margin-left: calc(var(--block) * -18);
  }
}
/* .eightbithead div:hover {
  opacity: 0.5;
} */
.intro__home,
.site-main__home {
  animation: secondaryelementsfadein__mobile 6s;
}
@media screen and (min-width: 675px) {
  .intro__home,
.site-main__home {
    animation: secondaryelementsfadein__desktop 6s;
  }
}

@keyframes secondaryelementsfadein__mobile {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes secondaryelementsfadein__desktop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.skill-set,
.work-item,
.video-wrapper {
  animation: tertiaryelementsfadein__mobile 6s;
}
@media screen and (min-width: 675px) {
  .skill-set,
.work-item,
.video-wrapper {
    animation: tertiaryelementsfadein__desktop 6s;
  }
}

@keyframes tertiaryelementsfadein__mobile {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tertiaryelementsfadein__desktop {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.site-sidebar__home {
  animation: sidebarfadein__mobile 6s;
}
@media screen and (min-width: 675px) {
  .site-sidebar__home {
    animation: sidebarfadein__desktop 6s;
  }
}

@keyframes sidebarfadein__mobile {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sidebarfadein__desktop {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* ==========================================================================
  Colophon.
   ========================================================================== */
.colophon__title {
  margin-bottom: 1rem;
}

.colophon__site-main {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.credit-set {
  margin-bottom: 2rem;
}

/* ==========================================================================
  Dark Mode.
   ========================================================================== */

/*# sourceMappingURL=main.css.map */
