
/*  standard  */
html, body, div,
a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}

div {
	display: block;
	position: absolute;
	box-sizing: border-box;
}

body {
  font-family:sans-serif;
  background:white;
  overflow:hidden;
  width:300px;
}

#container {
  position:relative;
  overflow:hidden;
  width:300px;
  height:250px;
  background-repeat:repeat-y;
  background-image:url('img/bg.jpg');
  background-color: #0096db;
}
#border {
	width: 100%;
	height: 100%;
	top: 0; bottom: 0; left: 0; right: 0;
	border: 1px solid #0096db;
	box-sizing: border-box;
}



/*  images  */
.img-window {
  overflow: hidden;
  top: 0; left: 0;
  width: 300px;
  height: 190px;
}
.img {
	width: 100%;
  height: 100%;
  left: 0; top: 0;
  display: block;
  position: absolute;
}
#color-overlay {
	width: 100%;
  height: 100%;
  left: 0; top: 0;
  background-color: #003a65;
}


/*  text  */
.sprite {
  background-image: url("img/sprite.svg");
	background-size: 1500px 750px;
}
.txt {
  width: 100%;
  height: 100%;
	top: 0px;
	right: 0;
}
#txt1a { background-position: -300px 0; }
#txt1b-abn { background-position: -600px 0; }
#txt1b-ormal { background-position: -900px 0; }
#txt1b-hea { background-position: -1200px 0; }
#txt1b-rt { background-position: -300px -250px; }
#txt1b-rhy { background-position: -600px -250px; }
#txt1b-thms { background-position: -900px -250px; }
#txt1c { background-position: -1200px -250px; }
#txt2a { background-position: 0 -500px; }
#txt2b { background-position: -300px -500px; }
#txt2c { background-position: -600px -500px; }
#txt2d { background-position: -900px -500px; }
#txt2e { background-position: -1200px -500px; }

#lockup { background-position: 0 0; }

/*  What starts out hidden  */
#txt1a, #txt1b-abn, #txt1b-ormal, #txt1b-hea, #txt1b-rt, #txt1b-rhy, #txt1b-thms, #txt1c, #txt2a, #txt2b, #txt2c, #txt2d, #txt2e, #color-overlay {
  opacity: 0;
}
