/*  global ad styles  */
html,body,div,a,img {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
body,
html {
	width:100%;
	height: 100%;
}
body {
	font-family:sans-serif;
	background:#fff;
	overflow:hidden;
	line-height:1;
}
div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 100%; height: 100%;
	top: 0; left: 0;
}
#container {
	position:relative;
	overflow:hidden;
	width:100%;
	height:100%;
	background-color: #003a66;
}
#border {
	width: 100%;
	height: 100%;
	bottom: 0; right: 0;
	border: 1px solid #ffffff;
	z-index: 100;
}
.sprite svg {
	width:100%;
	height:auto;
	fill:#fff;
}


/*  skeleton  */
#skeleton-wrapper {
	width: 66.666%;
	height: 200%;
	top: -100%;
	left: 35.333%;
}



/*  What starts out hidden  */
#txt1a,#txt1b,#txt2a,#txt3a,#txt3b,#txt3c,#txt3d,#cta,
#name-hip, #name-shoulder, #name-elbow, #name-spine, #name-hand, #name-ankle, #name-wrist, #name-knee,
#skeleton {
	opacity:0;
}